<p id="notice"><%= notice %></p>
<h1>Blog Pages</h1>
<ul>
<% @pages.each do |page| %>
<li>
  <p><%= link_to  page.title, page_path(page.id) %></p>
  </li>
<% end %>
</ul>




<%= link_to "New Page", new_page_path %>